.elevated-carousal {
  background-color: #faf7f7e5; /* Light background to contrast with the shadow */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Horizontal offset, Vertical offset, Blur radius, Color */
  border-radius: 8px; /* Optional: Adds rounded corners */
  margin: 20px;
  margin-top: 70px;
  /* Optional: Adds some space around the div */
}

.elevated-carousal2 {
  background-color: rgb(
    255,
    238,
    215
  ); /* Light background to contrast with the shadow */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Horizontal offset, Vertical offset, Blur radius, Color */
  border-radius: 8px; /* Optional: Adds rounded corners */
  margin: 20px;
  margin-top: 70px;
  margin-bottom: 10px;
  /* Optional: Adds some space around the div */
}
